<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ускорение сайта</title>
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="stylesheet" href="css/fonts.css">
	<link rel="shortcut icon" href="img/favic.png" type="image/x-icon" />
</head>
<body>
	@@include('../components/header.html')
	
	
		<main class="main">
			@@include('../components/form.html')
			@@include('../components/cost.html')
			@@include('../components/portfolio.html')
	</main>
	@@include('../components/footer.html')

	<script src="js/vendors/vendors.min.js"></script>
	<script src="js/script.min.js"></script>
</body>
</html>