<!DOCTYPE html>
<html lang="ru">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ускорение сайта</title>
	<link rel="preload" href="css/style.min.css" as="style" />
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="shortcut icon" href="img/favic.png" type="image/x-icon" />
	<script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
	<script type="text/javascript">
		VK.init({
			apiId: 7902616,
			onlyWidgets: true
		});
	</script>
</head>

<body>
	@@include('../components/push.html')
	@@include('../components/header.html')
	<main class="main">
		@@include('../components/form.html')
		@@include('../components/cost.html')
		@@include('../components/portfolio.html')
		@@include('../components/reviews.html')
	</main>
	@@include('../components/footer.html')

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="js/script.min.js"></script>
	<script src="js/vendors/vendors.min.js"></script>
</body>

</html>