<section id="cost" class="cost">
	<div class="wrapper">
		<h2 class="cost__title title">Ускорение сайта Wordpress по Google Page - цены:</h2>
		<div class="cost__list workcost">
			<div class="workcost__product">
				<h3 class="workcost__title">
					<span class="workcost__cost">500₽</span>
					<span class="workcost__name">Эконом</span>
					<i class="workcost__icon icon-menu"></i>
				</h3>
				<article class="workcost__info workcost__info-econom">
					<ul class="workcost__list">
						<li class="workcost__item"><span>1 день на выполнение</span></li>
						<li class="workcost__item"><span>Обычно выполняет за 5 часов</span></li>
						<li class="workcost__item"><span>Оптимизация изображений</span></li>
						<li class="workcost__item"><span>Оптимизация html</span></li>
						<li class="workcost__item"><span>Оптимизация CSS, JS</span></li>
						<li class="workcost__item"><span>Настройка кеширвания</span></li>
						<li class="workcost__item"><span>Сокращение запросов</span></li>
						<li class="workcost__item"><span>Сокращение запросов</span></li>
					</ul>
					<button class="btn-common workcost__btn" onclick="window.location.href='#form'">Заказать за 500 ₽</button>
				</article>
			</div>
			<div class="workcost__product">
				<h3 class="workcost__title">
					<span class="workcost__cost">1000₽</span>
					<span class="workcost__name">Стандарт</span>
					<i class="workcost__icon icon-menu"></i>
				</h3>
				<article class="workcost__info workcost__info-standart">
					<ul class="workcost__list">
						<li class="workcost__item"><span>1 день на выполнение</span></li>
						<li class="workcost__item"><span>Обычно выполняет за 5 часов</span></li>
						<li class="workcost__item"><span>Оптимизация изображений</span></li>
						<li class="workcost__item"><span>Оптимизация html</span></li>
						<li class="workcost__item"><span>Оптимизация CSS, JS</span></li>
						<li class="workcost__item"><span>Настройка кеширвания</span></li>
						<li class="workcost__item"><span>Сокращение запросов</span></li>
						<li class="workcost__item"><span>WEBP</span></li>
						<li class="workcost__item"><span>Lazy Load скриптов</span></li>
					</ul>
					<button class="btn-common workcost__btn" onclick="window.location.href='#form'">Заказать за 1000 ₽</button>
				</article>
			</div>
			<div class="workcost__product">
				<h3 class="workcost__title">
					<span class="workcost__cost">1500₽</span>
					<span class="workcost__name">Бизнес</span>
					<span class="workcost__icon">
						<i class="icon-menu"></i>
					</span>
				</h3>
				<article class="workcost__info workcost__info-busines">
					<ul class="workcost__list">
						<li class="workcost__item"><span>1 день на выполнение</span></li>
						<li class="workcost__item"><span>Обычно выполняет за 5 часов</span></li>
						<li class="workcost__item"><span>Оптимизация изображений</span></li>
						<li class="workcost__item"><span>Оптимизация html</span></li>
						<li class="workcost__item"><span>Оптимизация CSS, JS</span></li>
						<li class="workcost__item"><span>Настройка кеширвания</span></li>
						<li class="workcost__item"><span>Сокращение запросов</span></li>
						<li class="workcost__item"><span>WEBP</span></li>
						<li class="workcost__item"><span>Lazy Load скриптов</span></li>
						<li class="workcost__item"><span>Премиум плагины</span></li>
					</ul>
					<button class="btn-common workcost__btn" onclick="window.location.href='#form'">Заказать за 1500 ₽</button>
				</article>
			</div>
		</div>
	</div>
</section>