<footer class="footer">
	<div class="wrapper">
			<div class="footer__content">
					<nav class="menu">
							<li class="menu__item to-section-1">
									<a href="#form" class="menu__link-second">Форма заявки</a>
							</li>
							<li class="menu__item to-section-2">
									<a href="#cost" class="menu__link-second">Цена</a>
							</li>
							<li class="menu__item to-section-3">
									<a href="#portfolio" class="menu__link-second">Мои работы</a>
							</li>
							<li class="menu__item to-section-4">
									<a href="#reviews" class="menu__link-second">Отзывы</a>
							</li>
							<li class="menu__item contacts">
									<ul class="contacts__list">
											<li class="contacts__item"><a href="#" class="contacts__link contacts__link-vk"></a></li>
											<li class="contacts__item"><a href="#" class="contacts__link contacts__link-kwork"></a></li>
											<li class="contacts__item"><a href="#" class="contacts__link contacts__link-telegram"></a></li>
									</ul>
							</li>
					</nav>
			</div>
	</div>
</footer>