<section class="formblock">
    <div class="wrapper">
        <div class="formblock__container">
            <div class="formblock__info info">
                <h1 class="info__title">Ускорение сайта Wordpress <span>по Google Page</span></h1>
                <p class="info__text">Ускорю ваш сайт за адекватную стоимость. Вы получите от меня: хороший сервис, адекватность, высокую
                    скорость выполения поставленных задач и комфорт в общении</p>
                <button class="info__btn btn-common">Моё портфолио</button>
            </div>
            <form id="form" action="" class="formblock__form form" name="mainForm">
                <h4 class="form__title">Форма заявки</h4>
                    <div class="form__item  form__item-name">
                        <input class="form__input" type="text" id="input_name" name="input_name" placeholder="Ваше Имя" required>
                        <span class="form__icon form__icon-check"><i class="icon-check"></i></span>
                        <span class="form__icon form__icon-error"><i class="icon-error"></i></span>
                    </div>
                    <div class="form__item  form__item-site">
                        <input class="form__input" type="text" id="input_link" name="input_link" placeholder="Ссылка на сайт" required>
                        <span class="form__icon form__icon-check"><i class="icon-check"></i></span>
                        <span class="form__icon form__icon-error"><i class="icon-error"></i></span>
                    </div>
                    <div class="form__item tarif">
                        <label class="form__label tarif__head">Тариф:</label>

                        <input type="radio" class="input_tarif" id="econom" name="input_tarif" value="Эконом" checked>
                        <label for="econom" class="tarif__label for-tarif">Эконом</label>

                        <input type="radio" class="input_tarif" id="standart" name="input_tarif" value="Стандарт">
                        <label for="standart" class="tarif__label for-tarif">Стандарт</label>
                        
                        <input type="radio" class="input_tarif" id="business" name="input_tarif" value="Бизнес">
                        <label for="business" class="tarif__label for-tarif">Бизнес</label>
                    </div>
                    <div class="form__item form__item-email">
                        <label for="input_email" class="form__label">
                            Ваш телеграм/почтовый ящик
                        </label>
                        <input class="form__input" type="text" id="input_email" name="input_email" placeholder="@kiril/kiril@mail.ru" required>
                        <span class="form__icon form__icon-check"><i class="icon-check"></i></span>
                        <span class="form__icon form__icon-error"><i class="icon-error"></i></span>
                    </div>
                    <button class="form__btn btn-common" type="submit" disabled>Отправить</button>
            </form>
        </div>

    </div>
</section>