<section id="portfolio" class="portfolio">
	<div class="wrapper">
		<h2 class="portfolio__title">Мои работы</h2>
		<p class="portfolio__description">Полное портфолио можно посмотреть <a href="https://kwork.ru/user/fedor-work"
				target="_blank">тут</a></p>
		<div class="portfolio__carousel">
			<button class="portfolio__arrow portfolio__arrow-prev" disabled>
				<i class="icon-arrow"></i>
			</button>
			<div class="portfolio__gallery">
				<ul class="portfolio__slider">
					<li class="portfolio__item portfolio__item-open">
						<img class="portfolio__img" src="../img/works/1.jpg" alt="1">
					</li>
					<li class="portfolio__item portfolio__item-open">
						<img class="portfolio__img" src="../img/works/2.jpg" alt="2">
					</li>
					<li class="portfolio__item portfolio__item-open">
						<img class="portfolio__img" src="../img/works/3.jpg" alt="3">
					</li>
					<li class="portfolio__item portfolio__item-close">
						<img class="portfolio__img" src="../img/works/4.jpg" alt="4">
					</li>
					<li class="portfolio__item portfolio__item-close">
						<img class="portfolio__img" src="../img/works/5.jpg" alt="5">
					</li>
					<li class="portfolio__item portfolio__item-close">
						<img class="portfolio__img" src="../img/works/6.jpg" alt="6">
					</li>
				</ul>
			</div>
			<button class="portfolio__arrow portfolio__arrow-next">
				<i class="icon-arrow"></i>
			</button>
		</div>
		<button class="btn-common portfolio__btn portfolio__btn-load">Загрузить ещё</button>
	</div>
</section>