<section id="portfolio" class="portfolio">
	<div class="wrapper">
		<h2 class="portfolio__title title">Мои работы</h2>
		<p class="portfolio__description subtitle">Полное портфолио можно посмотреть <a class="textlink" href="https://kwork.ru/user/fedor-work"
				target="_blank">тут</a></p>
		<div class="portfolio__carousel">
			<button class="portfolio__arrow portfolio__arrow-prev" disabled>
				<i class="icon-arrow"></i>
			</button>
			<div class="portfolio__gallery">
				<ul class="portfolio__slider">
					<li class="portfolio__item portfolio__item-open">
						<img class="portfolio__img lazyload"  data-src="img/works/1_min.jpg" alt="1" loading="lazy">
					</li>
					<li class="portfolio__item portfolio__item-open">
						<img class="portfolio__img lazyload"  data-src="img/works/2_min.jpg" alt="2" loading="lazy">
					</li>
					<li class="portfolio__item portfolio__item-open">
						<img class="portfolio__img lazyload"  data-src="img/works/3_min.jpg" alt="3" loading="lazy">
					</li>
					<li class="portfolio__item portfolio__item-close">
						<img class="portfolio__img lazyload"  data-src="img/works/4_min.jpg" alt="4" loading="lazy">
					</li>
					<li class="portfolio__item portfolio__item-close">
						<img class="portfolio__img lazyload"  data-src="img/works/5_min.jpg" alt="5" loading="lazy">
					</li>
					<li class="portfolio__item portfolio__item-close">
						<img class="portfolio__img lazyload"  data-src="img/works/6_min.jpg" alt="6" loading="lazy">
					</li>
				</ul>
			</div>
			<button class="portfolio__arrow portfolio__arrow-next">
				<i class="icon-arrow"></i>
			</button>
		</div>
		<button class="btn-common portfolio__btn portfolio__btn-load">Загрузить ещё</button>
	</div>
</section>