<section class="section2">
	<div class="wrapper">
			<h1 class="section__name">Ускорение сайта Wordpress по Google Page - цены:</h1>
			<div class="workcost">
					<div class="workcost__item">
							<div class="workcost__open">
									<h1 class="workcost__name"><span class="workcost__cost">500₽ </span>Эконом</h1>
									<img class="workcost__icon" src="img/arrow-down.png" alt="" width="30px" height="30px">
							</div>
							<div class="workcost__info econom">
									<ul class="workcost__options">
											<li class="workcost__options-item">1 день на выполнение</li>
											<li class="workcost__options-item">Обычно выполняет за 5 часов</li>
											<li class="workcost__options-item">Оптимизация изображений</li>
											<li class="workcost__options-item">Оптимизация html</li>
											<li class="workcost__options-item">Оптимизация CSS, JS</li>
											<li class="workcost__options-item">Настройка кеширвания</li>
											<li class="workcost__options-item">Сокращение запросов</li>
									</ul>
									<button class="workcost__btn">Заказать за 500 ₽</button>
							</div>
					</div>
					<div class="workcost__item standart">
							<div class="workcost__open">
									<h1 class="workcost__name"><span class="workcost__cost">1000₽ </span>Стандарт</h1>
									<img class="workcost__icon" src="img/arrow-down.png" alt="" width="30px" height="30px">
							</div>
							<div class="workcost__info">
									<ul class="workcost__options">
											<li class="workcost__options-item">1 день на выполнение</li>
											<li class="workcost__options-item">Обычно выполняет за 5 часов</li>
											<li class="workcost__options-item">Оптимизация изображений</li>
											<li class="workcost__options-item">Оптимизация html</li>
											<li class="workcost__options-item">Оптимизация CSS, JS</li>
											<li class="workcost__options-item">Настройка кеширвания</li>
											<li class="workcost__options-item">Сокращение запросов</li>
											<li class="workcost__options-item">WEBP</li>
											<li class="workcost__options-item">Lazy Load скриптов</li>
									</ul>
									<button class="workcost__btn">Заказать за 1000 ₽</button>
							</div>
					</div>
					<div class="workcost__item business">
							<div class="workcost__open">
									<h1 class="workcost__name"><span class="workcost__cost">1500₽ </span>Бизнес</h1>
									<img class="workcost__icon" src="img/arrow-down.png" alt="" width="30px" height="30px">
							</div>
							<div class="workcost__info">
									<ul class="workcost__options">
											<li class="workcost__options-item">1 день на выполнение</li>
											<li class="workcost__options-item">Обычно выполняет за 5 часов</li>
											<li class="workcost__options-item">Оптимизация изображений</li>
											<li class="workcost__options-item">Оптимизация html</li>
											<li class="workcost__options-item">Оптимизация CSS, JS</li>
											<li class="workcost__options-item">Настройка кеширвания</li>
											<li class="workcost__options-item">Сокращение запросов</li>
											<li class="workcost__options-item">WEBP</li>
											<li class="workcost__options-item">Lazy Load скриптов</li>
											<li class="workcost__options-item">Премиум плагины</li>
									</ul>
									<button class="workcost__btn">Заказать за 1500 ₽</button>
							</div>
					</div>
			</div>
	</div>
</section>