<div class="push-block">
	<div class="push">
			<div class="push__head">
					<h1>Отправить сообщение(Заказ)</h1>
					<div class="push__close">
							<div class="push__close-item"></div>
							<div class="push__close-item"></div>
					</div>
			</div>
			<div class="push__content">
					<img src="img/push-access.png" alt="" class="push__success img" width="64px" height="64px">
					<h1 class="push__success name">Заявка успешно отправлена</h1>
					<p class="push__info">В течении 15 минут с вами свяжутся</p>
			</div>
	</div>
</div>