<section class="section4">
	<div class="wrapper">
			<div class="section__name">Отзывы по кворку</div>
			<p class="section__description">Больше отзывов <a href="https://kwork.ru/website-repair/10160085/uskorenie-sayta-wordpress-po-google-pagespeed-insights" target="_blank">тут</a></p>
			<div class="review">
					<div class="review__block">
							<div class="review__user">
									<div class="user__img">p</div>
									<div class="user__content">
											<h1 class="user__name">promokl</h1>
											<span class="user__date">29 минут назад</span>
											<p class="user__msg">Отличная работа.</p>
									</div>
							</div>
							<div class="review__user">
									<div class="user__img">p</div>
									<div class="user__content">
											<h1 class="user__name">promokl</h1>
											<span class="user__date">3 часа назад</span>
											<p class="user__msg">Всё как договаривались!!</p>
									</div>
							</div>
							<div class="review__user">
									<div class="user__img">V</div>
									<div class="user__content">
											<h1 class="user__name">Vitek_vvs</h1>
											<span class="user__date">4 дня назад</span>
											<p class="user__msg">Четко, быстро и по делу. Показатели 90% моб | +25% ПК.</p>
									</div>
							</div>
							<div class="review__user">
									<div class="user__img">A</div>
									<div class="user__content">
											<h1 class="user__name">Alex100zagorod</h1>
											<span class="user__date">4 дня назад</span>
											<p class="user__msg">Работа была сделана в течении дня. Результатом в общем доволен. <br>Спасибо</p>
									</div>
							</div>
							<div class="review__user">
									<div class="user__img">S</div>
									<div class="user__content">
											<h1 class="user__name">shuvay</h1>
											<span class="user__date">10 дня назад</span>
											<p class="user__msg">Выполнено быстро, качественно. <br><br>Доволен. <br><br>Заказал работу ещё для одного сайта, рекомендую исполнителя.</p>
									</div>
							</div>
							<div class="review__user">
									<div class="user__img">V</div>
									<div class="user__content">
											<h1 class="user__name">Vadzik</h1>
											<span class="user__date">11 дней назад</span>
											<p class="user__msg">Второй сайт сделал за 4 часа :) <br><br>По скорости +- одинаково как и с первым <br><br>Рекомендую продавца/исполнителя</p>
									</div>
							</div>
					</div>
			</div>
	</div>
</section>