<section id="reviews" class="reviews">
	<div class="wrapper">
		<h2 class="reviews__title title">Отзывы по кворку</h2>
		<p class="reviews__description">Больше отзывов <a class="textlink"
				href="https://kwork.ru/website-repair/10160085/uskorenie-sayta-wordpress-po-google-pagespeed-insights"
				target="_blank">тут</a></p>
		<div class="reviews__carusel">
			<div id="vk_comments"></div>
			<script type="text/javascript">
				VK.Widgets.Comments("vk_comments", {
					limit: 10,
					attach: "*"
				});
			</script>
		</div>
</section>