<section id="reviews" class="reviews">
	<div class="wrapper">
		<h2 class="reviews__title title">Отзывы по кворку</h2>
		<p class="reviews__description">Больше отзывов <a class="textlink"
				href="https://kwork.ru/website-repair/10160085/uskorenie-sayta-wordpress-po-google-pagespeed-insights"
				target="_blank">тут</a></p>
		<div class="reviews__carusel">
			<button class="reviews__arrow reviews__arrow-prev" disabled>
				<i class="icon-arrow"></i>
			</button>
			<div class="reviews__gallery">
				<ul class="reviews__slider">
					<li class="reviews__item reviews__item-open">
						<img class="reviews__img" src="../img/vk_comment.png" alt="1">
					</li>
					<li class="reviews__item reviews__item-open">
						<img class="reviews__img" src="../img/vk_comment.png" alt="2">
					</li>
					<li class="reviews__item reviews__item-open">
						<img class="reviews__img" src="../img/vk_comment.png" alt="3">
					</li>
					<li class="reviews__item reviews__item-close">
						<img class="reviews__img" src="../img/vk_comment.png" alt="4">
					</li>
					<li class="reviews__item reviews__item-close">
						<img class="reviews__img" src="../img/vk_comment.png" alt="5">
					</li>
					<li class="reviews__item reviews__item-close">
						<img class="reviews__img" src="../img/vk_comment.png" alt="6">
					</li>
				</ul>
			</div>
			<button class="reviews__arrow reviews__arrow-next">
				<i class="icon-arrow"></i>
			</button>
		</div>
		<button class="btn-common reviews__btn reviews__btn-load">Загрузить ещё</button>
</section>