<section class="section3">
	<div class="wrapper">
			<h1 class="section__name">Мои работы</h1>
			<p class="section__description">Полное портфолио можно посмотреть <a href="https://kwork.ru/user/fedor-work" target="_blank">тут</a></p>
			<div class="portfolio">
					<div class="portfolio__item">
					</div>
					<div class="portfolio__item">
					</div>
					<div class="portfolio__item">
					</div>
					<div class="portfolio__item">
					</div>
					<div class="portfolio__item">
					</div>
					<div class="portfolio__item">
					</div>
			</div>
	</div>
</section>