.formblock {
	padding: 176px 0px 56px 0px;
	@media screen and (max-width: 480px) {
		padding: 203px 0px 32px 0px;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 900px) {
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	&__info {
		flex-basis: 57%;
		display: flex;
		flex-direction: column;
		@media screen and (max-width: 900px) {
			flex-basis: 100% !important;
			margin-bottom: 103px;
		}
		@media screen and (max-width: 1000px) {
			flex-basis: 50%
		}
	}

	&__form {
		flex-basis: 39%;
		min-width: 390px;

		@media screen and (max-width: 900px) {
			flex-basis: 100%;
			max-width: 450px;
			min-width: 268px;
		}
		@media screen and (max-width: 480px) {
			max-width: 268px;
		}
	}

	.info {
		&__title {
			margin-bottom: 31px;
			font-weight: 500;
			font-size: 48px;
			line-height: 56px;
			color: #000;

			@media screen and (max-width: 480px) {
				margin-bottom: 22px;
				font-size: 24px;
				line-height: 28px;
			}

			span {
				color: #0500FF;
			}
		}

		&__text {
			margin-bottom: 31px;
			max-width: 458px;
			font-weight: 300;
			font-size: 14px;
			line-height: 179.19%;
			color: rgba(0, 0, 0, 0.7);

			@media screen and (max-width: 480px) {
				max-width: 100%;
				margin-bottom: 30px;
				font-size: 12px;
				line-height: 166.69%;
			}
		}

		&__btn {
			width: fit-content;
			padding: 14px 36px 11px 37px;
			border-radius: 58px;
		}
	}

	.form {
		padding: 32px 35px 33px 31px;
		border-radius: 50px;
		border: 1px solid #0500FF;
		@media screen and (max-width: 480px) {
			padding: 16px 23px 19px 24px;
		}
		&__item {
			position: relative;
			margin-bottom: 25px;
			display: flex;
			flex-direction: column;
			@media screen and (max-width: 480px) {
				margin-bottom: 17px;
			}
		}

		&__title {
			margin-bottom: 26px;
			font-weight: 600;
			font-size: 23px;
			line-height: 27px;
			color: #0500FF;

			@media screen and (max-width: 480px) {
				margin-bottom: 17px;
				font-size: 15px;
				line-height: 18px;
			}
		}

		&__label {
			margin-bottom: 25px;
			font-weight: 600;
			font-size: 18px;
			line-height: 21px;
			color: #000000;
			@media screen and (max-width: 480px) {
				font-size: 15px;
				line-height: 18px;
			}
		}

		&__input {
			width: 100%;
			max-width: 387px;
			min-width: 221px;
			padding: 18px 28px 17px 28px;
			border-radius: 75px;
			border: 1px solid #0500FF;
			font-weight: 300;
			font-size: 14px;
			line-height: 16px;
			color: rgba(0, 0, 0, 1);
			@media screen and (max-width: 480px) {
				padding: 12px 22px 11px 22px;
				font-size: 10px;
				line-height: 12px;
			}
			&::placeholder {
				color: rgba(0, 0, 0, 0.5)
			}
		}

		&__icon {
			position: absolute;
			right: 17px;

			.icon-check {
				visibility: hidden;
				top: 20px;
				font-size: 12px;
				color: #0500FF;
			}

			.icon-error {
				visibility: hidden;
				font-size: 20px;
				color: #FF0000;
				transform: rotate(45deg);
			}
		}

		&__item-site,
		&__item-name {
			.form__icon-check {
				top: 20px;
				@media screen and (max-width: 480px) {
					top: 10px;
				}
			}

			.form__icon-error {
				top: 17px;
				@media screen and (max-width: 480px) {
					top: 7px;
				}
			}
		}

		&__item-email {
			.form__icon-check {
				top: 65px;
				@media screen and (max-width: 480px) {
					top: 55px;
				}
			}

			.form__icon-error {
				top: 62px;
				@media screen and (max-width: 480px) {
					top: 52px;
				}
			}
		}

		.tarif {
			margin-top: 32px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			@media screen and (max-width: 480px) {
				margin-top: 21px;
			}
			&__head {
				flex: 1 0 100%;
			}

			.input_tarif {
				display: none;
			}

			&__label {
				width: 103px;
				padding: 13px 19px;
				text-align: center;
				border-radius: 75px;
				border: 1px solid #0500FF;
				@media screen and (max-width: 480px) {
					width: 71px;
					padding: 9px 15px;
					font-size: 9px;
					line-height: 10px;
				}
			}

			.input_tarif:checked+label {
				background: #0500FF;
				color: #fff;
			}
		}

		&__btn {
			width: fit-content;
			padding: 14px 58px 12px 58px;
			border-radius: 75px;
			@media screen and (max-width: 480px) {
				padding: 7px 19px;
				font-size: 11px;
			}
		}
	}
}