.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 1;
	min-height: 122px;
	padding: 21px 0px;
	background-color: #FFFFFF;
	box-shadow: 0px 7px 103px rgba(0, 0, 0, 0.15);
	@media (max-width: 480px) {
		min-height: auto;
	}
	// .header__content
	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
	}

	// .header__avatar

	&__avatar {
		flex: 1 0 auto;
		max-width: 326px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		@media (max-width: 480px) {
			justify-content: flex-start;
			gap: 11px;
		}
	}

	&__link-logo {
		width: 79px;
		height: 79px;
		flex-shrink: 0;

		@media (max-width: 480px) {
			width: 33px;
			height: 33px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__separator {
		height: 63px;
		border-right: 1px solid #000000;

		@media (max-width: 480px) {
			height: 33px;
		}
	}

	&__link-title {
		white-space: nowrap;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #000000;

		@media (max-width: 480px) {
			font-size: 12px;
			line-height: 14px;
		}
	}

	// .header__menu
	&__menu {
		flex: 0 0 auto;
	}

	// .header__hamberger

	&__hamberger {
		width: 32px;
		height: 10px;
	}
	.hamburger {
		display: none;
		cursor: pointer;
		@media (max-width: 900px) {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 7px;
		}
		&__item {
			background-color: #000000;
		}
		&__item-1 {
			width: 32px;
			height: 1px;
		}
		&__item-2 {
			width: 21px;
			height: 1px;
		}
	}

	.menu {
		position: relative;
		transition: opacity 1s ease;
		
		@media (max-width: 900px) {
			position: absolute;
			top: -900px;
			left: 0;
			opacity: 0;
			z-index: -1;
			background-color: #FFFFFF;
			width: 100vw;
			box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
			&-open {
				opacity: 1;
				top: 100%;
			}
		}
		&__list {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			@media (max-width: 900px) {
				flex-direction: column;
				gap: 20px;
				padding: 20px 0px;
			}
		}

		&__item {
			margin-right: 49px;
			white-space: nowrap;

			&:nth-of-type(4) {
				margin-right: 94px;
			}

			@media (max-width: 1100px) {
				margin-right: 25px;

				&:nth-of-type(4) {
					margin-right: 47px;
				}
			}
			@media (max-width: 1000px) {
				margin-right: 10px;

				&:nth-of-type(4) {
					margin-right: 20px;
				}
			}
			@media (max-width: 900px) {
				margin-right: 0px !important;
			}
		}

		&__link {
			position: relative;
			font-weight: 600;
			font-size: 16px;
			line-height: 19px;
			color: rgba(0, 0, 0, 0.5);
			transition: color 0.4s ease 0.0s;

			@media (any-hover: hover) {
				&:hover {
					color: #000000;

					&::after {
						border-bottom: 1px solid #0500FF;
					}
				}
			}
		}

		&__link::after {
			content: "";
			position: absolute;
			top: 29px;
			left: 0px;
			width: 50%;
			height: 1px;
			border-bottom: 1px solid transparent;
			transition: border 0.4s ease 0.0s;
		}

		&__item-contacts {
			margin-right: 0px !important;
		}

		.contacts {
			&__list {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: nowrap;
				gap: 14px;
			}

			&__link {
				display: inline-block;
				width: 35px;
				height: 35px;
			}

			&__link-vk {
				background: url("/img/contacts/vk.svg") center / contain no-repeat;
			}

			&__link-kwork {
				background: url("/img/contacts/kwork.svg") center / 100% 100% no-repeat;
			}

			&__link-telegram {
				background: url("/img/contacts/telegram.svg") center / 100% 100% no-repeat;
			}
		}
	}
}