.portfolio {
	position: relative;
	padding: 56px 0px;
	height: auto;
	transition: all 0.4s ease;
	text-align: center;

	@media screen and (max-width: 480px) {
		padding: 32px 0px;
	}

	&__title {
		margin-bottom: 16px;
		text-align: center;

		@media screen and (max-width: 480px) {
			margin-bottom: 14px;
		}
	}

	&__description {
		margin: 0 auto;
		margin-bottom: 5px;

		@media screen and (max-width: 480px) {
			max-width: 174px;
		}
	}

	&__carousel {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 2px;

		@media screen and (max-width: 900px) {
			flex-direction: column;
		}
	}

	&__gallery {
		width: 1100px;
		margin: 0 auto;
		height: 300px;
		overflow: hidden;
		display: flex;
		align-items: center;
		@media screen and (max-width: 1240px) {
			width: 700px;
		}

		@media screen and (max-width: 900px) {
			width: 100% !important;
			height: auto;
		}
	}

	&__slider {
		width: 9999px;
		height: 213px;
		padding: 0px 24px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 50px;
		transition: all 0.4s;

		@media screen and (max-width: 900px) {
			width: inherit;
			height: auto;
			padding: 26px 0px;
			flex-direction: column;
			gap: 29px;
		}
	}

	&__item {
		position: relative;
		width: 297px;
		height: 213px;
		border: 1px solid rgba(0, 0, 0, 0.5);
		border-radius: 20px;
		overflow: hidden;
		cursor: pointer;

		&:hover {
			border: none;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
			transform: scale(1.15);
		}
		@media screen and (max-width: 900px) {
			margin: 0 auto;
		}

		@media screen and (max-width: 480px) {
			width: 313px;
			height: 225px;
			&:hover {
				border: none;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
				transform: scale(1.1);
			}

		}

		@media screen and (max-width: 360px) {
			width: 260px;
			height: 200px;
		}
	}

	&__item-open {
		@media screen and (max-width: 900px) {
			display: block;
		}
	}

	&__item-close {
		@media screen and (max-width: 900px) {
			display: none;
		}
	}

	&__img {
		max-width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__arrow {
		flex-shrink: 0;
		width: 64px;
		height: 64px;
		border-radius: 50px;
		border: 1px solid $mainColor;
		background-color: transparent;

		@media screen and (max-width: 900px) {
			display: none;
		}

		i {
			font-size: 19px;
			color: $mainColor;
		}

		&:disabled {
			opacity: 0.5;
		}
	}

	&__arrow-next {
		transform: rotate(180deg);
	}

	&__btn {
		display: none;
		margin: 0 auto;
		margin-top: 31px;
		padding: 8px 16px 7px 20px;
		font-weight: 700;
		font-size: 11px;
		line-height: 179.19%;
		border-radius: 29px;

		@media screen and (max-width: 900px) {
			display: block;
		}
	}
}