//COMMON
$colorText: #000;
$mainColor: #0500FF;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

html {
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 320px;
	height: 100%;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: $colorText;
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button,
label {
	cursor: pointer;
}

.wrapper {
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	padding: 0px 40px;
	overflow: visible;

	@media screen and (max-width: 480px) {
		padding: 0px 30px;
	}
}

.main {
	flex: 1 0 auto;
	background-color: #fff;
}

.header,
.footer {
	width: 100%;
}

.title {
	font-weight: 500;
	font-size: 40px;
	line-height: 47px;
	color: $colorText;

	@media screen and (max-width: 480px) {
		font-size: 23px;
		line-height: 27px;
	}
}

.subtitle {
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	color: rgba(0, 0, 0, 0.7);

	@media screen and (max-width: 480px) {
		font-size: 14px;
		line-height: 16px;
	}
}

.textlink {
	font-weight: 500;
	font-style: 18px;
	line-height: 21px;
	color: $mainColor;
	@media screen and (max-width: 480px) {
		font-size: 14px;
		line-height: 16px;
	}
}

@import "_fonts.scss";

/* push-start */
@import "../scss/_push.scss";
/* push-end */

/* avatar-start */
@import "../scss/ui/avatar.scss";
/* avatar-end */

/* nav-start */
@import "../scss/ui/nav.scss";
/* nav-end */

/* btn-start */
@import "../scss/ui/btn.scss";
/* btn-end */

/* header-start */
@import "_header.scss";
/* header-end */

/* form-start */
@import "_form.scss";
/* form-end */

/* cost-start */
@import "_cost.scss";
/* cost-end */

/* portfolio-start */
@import "_portfolio.scss";
/* portfolio-end */

/* reviews-start */
@import "_reviews.scss";
/* reviews-end */

/* footer-start */
@import "_footer.scss";
/* footer-end */