<nav class="menu">
	<ul class="menu__list">
		<li class="menu__item">
			<a href="#form" class="menu__link">Форма заявки</a>
			<span class="menu__item-border"></span>
		</li>
		<li class="menu__item">
			<a href="#cost" class="menu__link">Цена</a>
		</li>
		<li class="menu__item">
			<a href="#portfolio" class="menu__link">Мои работы</a>
		</li>
		<li class="menu__item">
			<a href="#reviews" class="menu__link">Отзывы</a>
		</li>
		<li class="menu__item menu__item-contacts contacts">
			<ul class="contacts__list">
				<li class="contacts__item"><a href="#" class="contacts__link contacts__link-vk" target="_blank"></a></li>
				<li class="contacts__item"><a href="#" class="contacts__link contacts__link-kwork" target="_blank"></a></li>
				<li class="contacts__item"><a href="#" class="contacts__link contacts__link-telegram" target="_blank"></a></li>
			</ul>
		</li>
	</ul>
</nav>